<div class="container">
    <div class="col">
        <div class="header_content">
            <a href="https://maps.app.goo.gl/A3Xcm9wKVqvLRagU9" target="_blank" class="place">🏡Ք. Արթիկ,
                Ազատության 1/6</a>
            <h1><span>Artik</span> ավտոդպրոց</h1>
            <p class="text scroll_animate">Սովորիր վարել վստահ ու ապահով՝ փորձառու հրահանգիչների հետ: Մեր դասերը
                հարմարեցված են
                թե՛ սկսնակների, թե՛ փորձառու վարորդների համար։ Միացի՛ր մեզ ու ստացիր վարորդական իրավունք առանց
                ավելորդ սթրեսի!</p>

            <a href="#about" class="btn">Ավելի մեր մասին</a>
        </div>
    </div>
    <div class="col">
        <div class="register_form">
            <h2 class="title">Գրանցվել</h2>
            <form action="/api/v1/registration" method="post">
                <div class="input_field">
                    <span class="">Անուն *</span>
                    <input type="text" name="name" required>
                </div>
                <div class="input_field">
                    <span class="">Ազգնուն *</span>
                    <input type="text" name="lastName" required>
                </div>
                <div class="input_field">
                    <span class="">Էլ. հասցե *</span>
                    <input type="text" name="email" required>
                </div>
                <div class="input_field">
                    <span class="">Հեռախոսահամար *</span>
                    <input type="tel" class="phone" name="phone" required>
                </div>

                <div class="type mb-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <button type="submit">Գրանցվել</button>
            </form>
        </div>
    </div>
</div>
<svg class="end_line" viewBox="0 0 1440 320">
    <path fill="#F8F9FA" fill-opacity="1"
        d="M0,64L48,96C96,128,192,192,288,229.3C384,267,480,277,576,266.7C672,256,768,224,864,197.3C960,171,1056,149,1152,160C1248,171,1344,213,1392,234.7L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
</svg>