<div class="container">
    <div class="col">
        <div class="header_content">
            <p class="bg-primary p-2 rounded-2 address px-3">Մեր հասցեն է՝ <%= contact?.address || '' %></p>
            <h1><span>Արթիկ</span> ավտոդպրոց</h1>
            <p class="text scroll_animate">Սովորիր վարել վստահ ու ապահով՝ փորձառու հրահանգիչների հետ: Մեր դասերը
                հարմարեցված են
                թե՛ սկսնակների, թե՛ փորձառու վարորդների համար։ Միացի՛ր մեզ ու ստացիր վարորդական իրավունք առանց
                ավելորդ սթրեսի!</p>

                <div class="row mb-3">
                    <div class="col-md-6 mb-3 text-dark text-md-danger">
                        <div class="d-flex align-items-center gap-3 bg-dark bg-opacity-50 text-white p-2 rounded-3">
                        <div class="align-items-center rounded bg-danger bg-opacity-10 px-3 py-2 benefit-icon">
                            <i class="fa-solid fa-trophy text-primary fs-5"></i>
                        </div>
                        <span class="fw-medium">Բարձր հաջողության տոկոս</span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3 text-dark">
                        <div class="d-flex align-items-center gap-3 bg-dark bg-opacity-50 text-white p-2 rounded-3">
                            <div class="rounded bg-warning bg-opacity-10 px-3 py-2 benefit-icon">
                                <i class="fa-solid fa-chalkboard-teacher text-warning fs-5"></i>
                            </div>
                            <span class="fw-medium">Պրոֆեսիոնալ ուսուցիչներ</span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3 text-dark">
                        <div class="d-flex align-items-center gap-3 bg-dark bg-opacity-50 text-white p-2 rounded-3">
                        <div class="align-items-center justify-content-center rounded bg-info bg-opacity-10 px-3 py-2 benefit-icon">
                            <i class="fa-solid fa-clock text-info fs-5"></i>
                        </div>
                        <span class="fw-medium">Ճկուն ժամանակացույց</span>
                        </div>
                    </div>
                </div>
                <a href="#about" class="flash-btn">Ավելի մեր մասին</a>
            </div>
        </div>
    <div class="col">
        <div class="register_form">
            <h2 class="title">Գրանցվել դասընթացին</h2>
            <form action="/api/v1/registration" method="post">
                <div class="input_field">
                    <span class="">Անուն *</span>
                    <input type="text" name="name" required>
                </div>
                <div class="input_field">
                    <span class="">Ազգնուն *</span>
                    <input type="text" name="lastname" required>
                </div>
                <div class="input_field">
                    <span class="">Էլ. հասցե *</span>
                    <input type="text" name="email" required>
                </div>
                <div class="input_field">
                    <span class="">Հեռախոսահամար *</span>
                    <input type="tel" class="phone" name="phone" required>
                </div>

                <button type="submit" class="flash-btn">Գրանցվել</button>
            </form>
        </div>
    </div>
</div>
<svg class="end_line" viewBox="0 0 1440 320">
    <path fill="#F8F9FA" fill-opacity="1"
        d="M0,64L48,96C96,128,192,192,288,229.3C384,267,480,277,576,266.7C672,256,768,224,864,197.3C960,171,1056,149,1152,160C1248,171,1344,213,1392,234.7L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
</svg>