<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title-->
<title>Ավտոդպրոց Արթիկում - Վարորդական Դասընթացներ, Թեստեր և Հրահանգիչներ</title>

<!-- Meta Description  -->
<meta name="description"
    content="Լավագույն ավտոդպրոցը Երևանում: Վարորդական դասընթացներ սկսնակների համար, որակյալ ուսուցում, A և B կարգերի վարորդական իրավունք ստանալու հնարավորություն։">

<!-- Keywords -->
<meta name="keywords"
    content="ավտոդպրոց, վարորդական դասընթացներ, վարորդական իրավունք, ավտոդպրոց Երևան, վարորդական թեստեր, մեքենա վարել սովորել">

<!-- Author -->
<meta name="author" content="Ավտոդպրոց Արթիկ">

<!-- Open Graph (Facebook, WhatsApp ) -->
<meta property="og:title" content="Ավտոդպրոց Արթիկում - Վարորդական Դասընթացներ">
<meta property="og:description" content="Սովորեք վարել մեքենա մեր ավտոդպրոցում: Որակյալ վարորդական դասընթացներ, փորձառու հրահանգիչներ, տեսական և գործնական ուսուցում։">
<meta property="og:image" content="https://yourwebsite.com/images/avtodprots.jpg">
<meta property="og:url" content="https://yourwebsite.com">
<meta property="og:type" content="website">

<!-- Twitter Card (Twitter-ի համար) -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Ավտոդպրոց Արթիկում - Վարորդական Դասընթացներ">
<meta name="twitter:description" content="Սկսեք ձեր վարորդական դասընթացները մեր փորձառու հրահանգիչների հետ:">
<meta name="twitter:image" content="https://yourwebsite.com/images/avtodprots.jpg">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

<!-- Canonical (URL) -->
<link rel="canonical" href="https://mg-drive.com">

<link rel="stylesheet" href="/client/assets/vendors/css/lightgallery.min.css">

<!-- Page icon -->
<link rel="icon" href="/client/images/page_icon.png">
<!-- Main css -->
<link rel="stylesheet" href="/client/dist/css/main.css">