<form class="needs-validation" action="/api/v1/user/signIn" method="post" novalidate>
    <!-- Email -->
    <div class="mb-3">
        <label for="email" class="form-label">Էլ․ փոստ</label>
        <input type="email" class="form-control" value="samvel23@gmail.com" name="email" placeholder="example@mail.com" required>
        <div class="invalid-feedback">
            Խնդրում ենք մուտքագրել վավեր էլ․ փոստ։
        </div>
    </div>

    <!-- Password -->
    <div class="mb-3 input_field">
        <label for="password" class="form-label">Գաղտնաբառ</label>
        <input type="password" class="form-control" value="sD120a6" name="password" minlength="6" required>
        <div class="invalid-feedback">
            Գաղտնաբառը պետք է լինի առնվազն 6 նիշ։
        </div>
    </div>

    <!-- Remember me -->
    <div class="form-check form-switch mt-2 mb-4">
        <input class="form-check-input" name="remember" type="checkbox" id="saveToggle" checked>
        <label class="form-check-label small-muted" for="saveToggle">Հիշել ինձ (մնալ համակարգու)</label>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn w-100 text-white">
        Մուտք գործել
    </button> 
</form>