<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="image_box">
                    <img class="large" src="/client/images/about/large.jpg" alt="">
                    <img class="small scroll_animate" src="/client/images/about/small.jpg" alt="">
                    <img class="traingl scroll_animate" src="/client/images/about/traingl.png" alt="">
                    <img class="pattern scroll_animate" src="/client/images/about/pattern.png" alt="">
                    <div class="experience scroll_animate">
                        <h3 class="number">10+</h3>
                        <p class="text">Տարվա փորձ</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="content_box">
                    <h2 class="title scroll_animate fw-bold">Մեր մասին</h2>

                    <h2 class="display-5 fw-bold mb-3">
                        Ավտոդպրոց, որը պատրաստում է <span class="text-gradient">վարորդներ</span>
                    </h2>

                    <p class="text"><b>MG Drive</b>-ը մասնագիտացված ուսումնական կենտրոն է, որտեղ դու կարող ես
                        ձեռք
                        բերել վարելու հմտություններ՝ վստահությամբ ու պրոֆեսիոնալ մոտեցմամբ։</p>
                    <ul class="list">
                        <li class="scroll_animate">
                            <span class="text-primary circle-check"><i class="fa-solid fa-circle-check"></i></span>
                            Փորձ, որից սովորում են բոլոր սերունդները
                        </li>
                        <li class="scroll_animate">
                            <span class="text-primary circle-check"><i class="fa-solid fa-circle-check"></i></span>
                            Տեսական և գործնական դասեր՝ ժամանակակից մեթոդներով
                        </li>
                        <li class="scroll_animate">
                            <span class="text-primary circle-check"><i class="fa-solid fa-circle-check"></i></span>
                            Անվտանգության ու կանոնների խորը ուսուցում
                        </li>
                        <li class="scroll_animate">
                            <span class="text-primary circle-check"><i class="fa-solid fa-circle-check"></i></span>
                            Ավտոդպրոց՝ հիմնված գիտելիքի ու փորձի վրա
                        </li>
                    </ul>
                    <p class="text scroll_animate">
                        Մեր նպատակն է քեզ պատրաստել ոչ միայն վարորդական իրավունքի ստացման համար, այլև ապահով ու
                        վստահ վարելու համար։ Անկախ նրանից՝ սկսնակ ես, թե ուզում ես կատարելագործել քո
                        հմտությունները,
                        մենք այստեղ ենք օգնելու քեզ 🚘
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>