 <section class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 d-flex flex-column align-items-center">
                        <h2 class="d-inline-block section_title display-5 mb-4 fw-bold">Մեր աշակերտները</h2>
                        <p class="text-center text-muted mb-5 w-75 m-auto">
                          Այստեղ կգտնեք մեր թիմի կողմից իրականացված նախագծերը՝ նորարարական լուծումներով և ստեղծարար մոտեցմամբ: 
                          Յուրաքանչյուր աշխատանք արտացոլում է մեր մասնագիտական մոտեցումը և հաճախորդների բարձր սպասումները:
                        </p>
                    </div>
                </div>
                <div class="row" id="lightgallery">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="gallery_img scroll_animate">
                            <a href="./client/images/gallery/1.jpg">
                                <img src="./client/images/gallery/1.jpg" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>