<section class="are_you_ready">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 md-lg-0 d-flex align-items-center">
                        <div class="image">
                            <img class="scroll_animate" src="client/images/car-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 p-md-5">
                        <div class="content_box">
                            <h2 class="section_title display-4 fw-bold mb-5">Պատրա՞ստ ես սկսել</h2>
                            <p class="text">
                                <b>MG-Drive</b>-ը հասկանում է, որ ուսանողները հաճախ ունեն զբաղված գրաֆիկներ, ուստի մեր
                                դասերն առաջարկում են առավելագույն ճկունություն: Ուսանողները կարող են ընտրել դասերի
                                հաջորդականությունը և տեմպը՝ ըստ իրենց անհրաժեշտության:
                            </p>
                            <ul class="list scroll_animate">
                                <li>
                                    <span class="text-primary circle-check"><i
                                            class="fa-solid fa-circle-check"></i></span>
                                    Ճկուն հանդիպումներ շաբաթը վեց օր՝ համապատասխան ձեր գրաֆիկին:
                                </li>
                                <li>
                                    <span class="text-primary circle-check"><i
                                            class="fa-solid fa-circle-check"></i></span>
                                    Պատրաստ ենք աջակցելու վարորդներին և տարեց ուսանողներին:
                                </li>
                                <li>
                                    <span class="text-primary circle-check"><i
                                            class="fa-solid fa-circle-check"></i></span>
                                    Մեր ծառայությունները՝ բարձր որակով և հասանելի գներով, ապահովում են լավագույն
                                    ուսուցումը:
                                </li>
                                <li>
                                    <span class="text-primary circle-check"><i
                                            class="fa-solid fa-circle-check"></i></span>
                                    Սպասարկում ենք նաև ճանապարհային փորձարկումներ ուսումնական ավտոմեքենաներով:
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>