.btn {
    transition: all .3s ease-in-out;
    display: inline-block;
    width: max-content;
    height: max-content;
    padding: 8px 20px;
    &.btn-accent {
        background: var(--color-accent);
        border-color: var(--color-accent);
        outline: var(--color-white);
        color: var(--color-white);
    
        &:hover {
            background: var(--color-white);
            border-color: var(--color-accent);
            color: var(--color-accent);
        }
    }
    &:active {
        background: transparent;
        border-color: var(--color-accent);
        color: var(--color-accent);
    }
}