<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">

            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalTitle">Հաստատում</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Փակել"></button>
            </div>

            <div class="modal-body fs-6 text-dark" id="confirmModalBody">
                Համոզվա՞ծ եք։
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="confirmCancelBtn">
                    Չեղարկել
                </button>
                <button type="button" class="btn btn-danger" id="confirmOkBtn">
                    Այո
                </button>
            </div>
        </div>
    </div>
</div>