<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ադմին / <%- title %></title>

<!-- Layout styles -->
<link rel="icon" href="../admin/images/logo.png" />

<!-- plugins:css -->
<link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/admin/assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
<!-- Plugin css for this page -->
<link rel="stylesheet" href="/admin/assets/vendors/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/admin/assets/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="/admin/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

<link rel="stylesheet" href="/admin/assets/css/style.css"> 
<link rel="stylesheet" href="/admin/assets/css/main.css"> 