 <div class="row">
     <div class="col-12 grid-margin">
         <div class="card">
             <div class="card-body">
                 <h4 class="card-title">Ուսանողներ որոնք այժմ ուսման փուլում են։</h4>
                 <div class="table-responsive">
                     <table class="table">
                         <thead>
                             <tr>
                                 <th> ՈՒսանողի անունը </th>
                                 <th> email </th>
                                 <th> Հեռ․․․ </th>
                                 <th> Կուրսը </th>
                                 <th> Գրանցվել է </th>
                                 <th> Ստատուս </th>
                                 <th> Վճարումներ </th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>
                                     <%
                                        let image = { img: "../client/images/no-image-profile.jpg" };
                                        if(tableUser) {
                                            if (tableUser.files) {
                                                let foundImage = tableUser.files.find(file => file.name_used === "user_img");
                                                
                                                if (foundImage) {
                                                image.img = `../client/images/users/large/${foundImage.name}.${foundImage.ext}`;
                                                }
                                            }
                                        }
                                    %>
                                    <img src="<%- image.img %>" alt="image" />
                                     <span class="pl-2">Henry Klein</span>
                                 </td>
                                 <td> heny23@gmail.com </td>
                                 <td> (+374) 44-332-121 </td>
                                 <td class="text-primary"> Տեսական </td>
                                 <td> 02.11.2025 </td>
                                 <td class="text-warning"> Չավարտած </td>
                                 <td>
                                     <div class="badge badge-outline-danger">Չվճարված</div>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>