@import './base/_reset';
@import './base/_variables';
@import './base/_colors';
@import './base/_mixins';
@import './components/_buttons';
@import './base/_global';

// Layout
@import './layout/_nav';
@import './layout/_header';
@import './layout/_main';
@import './layout/_footer';