// global container reset
.container {
    max-width: 1440px;
    width: 100%;
    padding: 15px;
    margin: auto;
}

.nav-profile-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

section {
    margin-bottom: 100px;
    padding: 50px 0;  
    @media(max-width: 992px) {
        margin-bottom: 70px;
    }
}

.btn {
    @include buttonStyle(10px, 20px);
}

.gallery-item {
  width: 200px;
  padding: 5px;
}


.section_title {
    background:var(--bacground-gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.container {
    overflow: hidden;
}