// global container reset
.container {
    max-width: 1440px;
    width: 100%;
    padding: 15px;
    margin: auto;
}

.nav-profile-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

section {
    margin-bottom: 100px;
    padding: 50px 0;  
    @media(max-width: 992px) {
        margin-bottom: 70px;
    }
}

.my-accordion {
    border-radius: 5px;
    transition: all .2s ease-in-out;
    .accordion-title {
        button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: var(--color-dark);
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: start;
            padding: 15px;
            &.active {
                background: var(--color-primary);
                color: var(--color-ligth);
            }
            @media(max-width: 400px) {
                font-size: 14px;
            }
        }
    }

    .descr {
        color: var(--color-dark);
        max-width: 800px;
        font-size: 16px;
        height: 0;
        overflow: hidden;
        padding: 0 15px;
    }
}

.btn {
    @include buttonStyle(10px, 20px);
}

.gallery-item {
  width: 200px;
  padding: 5px;
}


.section_title {
    background: linear-gradient(to right, #0d6efd, #6610f2);
    -webkit-background-clip: text;
    color: transparent;
}

.container {
    overflow: hidden;
}