footer {
    background: #111;
    padding: 10px 0;
    p, a {
        color: var(--color-ligth);
    }
    .container {
        .social_media, .list_menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            column-gap: 25px;
            row-gap: 10px;
            li {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background: var(--primary-color);
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
            @media(max-width: 576px) {
                column-gap: 10px;
            }
        }
        .social_media {
            gap: 30px;
            a {
                font-size: 22px;
                &:hover {
                    transform: translateY(-15px);
                    filter: drop-shadow(0 10px 15px var(--primary-color));
                }
            }
        }
        .copyright {
            text-align: center;
            a {
                color: var(--primary-color);
                font-weight: bold;
            }
        }
    }
    padding-bottom: 20px;
}