header {
    background: url('../../images/header/background.png') no-repeat center/cover;
    margin-bottom: 150px;
    background-attachment: fixed;
    position: relative;
    min-height: 100dvh;
    overflow: hidden;
    &::after {
        content: '';
        background: #0e012493;
        transition: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        display: grid;
        grid-template-columns: auto 450px;
        gap: 30px;
        .col {
            display: grid;
        }

        .header_content {
            display: grid;
            align-content: center;
            max-width: 700px;
            color: var(--color-ligth);
            .text {
                margin-bottom: 30px;
                font-size: 18px;
            }
            .place {
                background: var(--color-primary);
                padding: 5px 20px;
                border-radius: 30px;
                width: max-content;
                margin-bottom: 10px;
                font-size: clamp(14px, 2vw, 18px);

                &:active {
                    transform: scale(0.9);
                }
            }

            h1 {
                font-size: 5vw;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }

        .register_form {
            margin-top: 140px;
            background: var(--bacground-gradient);
            backdrop-filter: blur(4px);
            opacity: 0.9;
            padding: 30px;
            border-radius: 25px;
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.10);
            max-width: 500px;
            margin-left: auto;
            width: 100%;
            min-height: 600px;
            color: var(--color-ligth) !important;
            .title {
                margin-bottom: 30px;
                font-weight: bold;
            }
        }

        .emoji-button-container {
            width: max-content;
        }
        .header_content,
        .register_form {
            position: relative;
            z-index: 2;
        }
        @media(min-width: 1400px) {
            .header_content {
                h1 {
                    font-size: 80px;
                }
            }
        }
        @media(max-width: 992px) {
            grid-template-columns: 1fr;
            .header_content {
                text-align: center;
                max-width: 600px;
                display: grid;
                justify-content: center;
            }
            .register_form {
                margin-top: 0;
                min-width: 200px;
                max-width: 500px;
                margin: auto;
                padding: 30px;
                .type {
                    gap: 10px;
                    label {
                        padding: 10px;
                        font-size: 14px;
                    }
                }
            }
            .header_content {
                margin: 50px auto;
                h1 {
                    font-size: 45px;
                    color: var(--color-dark);
                    color: #111;
                }
                justify-content: center;
                .register_form {
                    min-width: 250px;
                    margin-top: 0;
                }
            }
        }
        @media(max-width: 400px) {
            .header_content {
                h1 {
                    font-size: 40px;
                }
            }
        }

    }
    @include scrollMask();

    .end_line {
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: 1;
    }

    @media(max-width: 992px) {
        &::after {
            background: url('../../images/header/mobile.webp') no-repeat center/contain;
            max-width: 700px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 400px;
            height: 400px;
            top: -100px;
            left: 50%;
            filter: blur(20px);
            opacity: 0.4;
            transform: translate(-50%);
            background: url('../../images/logo.png') no-repeat center/contain;
        }
       background: var(--color-ligth);
        .container {
            .header_content {
                .text, h1 {
                    color: var(--color-dark);
                    span {
                        color: var(--color-primary);
                    }
                }
                .place {
                    margin: 15px auto;
                }
            }
        }
    } 
}
