nav {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: end;
        column-gap: 20px;
        position: relative;
        z-index: 1;
    }

    .logo {
        img {
            width: 130px;
        }
        &:hover {
           img {
             @include filterImage();
           }
        }
    }

    .navbar {
        transition: none;
        display: flex;
        justify-content: space-between;
        min-width: max-content;
        width: 50%;
        column-gap: 20px;
        margin-bottom: 0;

        .close_menu {
            position: absolute;
            display: none;
            top: 10px;
            right: 10px;

            i {
                font-size: 16px;
            }
        }

        li a {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            font-weight: 550;
            color: inherit;
            display: block;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 3px;
                background: var(--color-primary);
                z-index: -1;
                opacity: 0;
            }
            &:hover {
                transform: translateY(-5px);
                &::after {
                    opacity: 0.9;
                     transform: translateX(-50%) translateY(5px);
                }
            }
            &.active {
               transform: translateY(0px);
                &::after {
                    opacity: 0.9;
                     transform: translateX(-50%) translateY(0);
                }
            }

            .text {
                display: block;
            }

            .icon {
                font-size: 18px;
                display: none;
            }
        }
    }

    .user_actions {
        display: flex;
        column-gap: 15px;
        font-size: 19px;
        .btn {
            @include buttonStyle(10px, 20px);
        }

        i {
            font-size: 20px;
        }

        .open_menu {
            margin-left: 15px;
            display: none;
        }
    }


    @media(max-width: 992px) {
        .user_actions {
            .open_menu {
                margin-left: 15px;
                display: block;
            }
        }
        .navbar {
            max-width: 300px;
            width: 100%;
            position: fixed;
            bottom: 0;
            right: -400px;
            z-index: 1000;
            background: #fff;
            height: 100dvh;
            background: #fff;
            flex-direction: column;
            justify-content: space-around;
            .close_menu {
                display: block;
            }

            &.active {
                right: 0;
                background: #ffffffce;
                backdrop-filter: blur(10px);
            }

            li {
                .icon {
                    font-size: 30px;
                    color: var(--color-primary);
                }
            }
        }
    }

    @media(max-width: 450px) {
        .user_actions {
            i {
                font-size: 20px;
            }

            .open_menu {
                display: none;
            }
        }

        .logo img {
            width: 80px;
        }

        .close_menu {
            display: none;
        }

        .navbar {
            .close_menu {
                display: none;
            }
            max-width: 500px;
            width: 100%;
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 1000;
            column-gap: 10px;
            background: #fff;
            border-top: 1px solid #ccc;
            height: auto;
            flex-direction: row;
            padding: 15px;
            border-radius: 15px;

            li a .text {
                display: none;
            }

            li a .icon {
                display: block;
                font-size: 25px;
            }
        }
    }
}